/*style sheet for login*/
.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

h2 {
    color: #DC1F1F;
    font-size: 52pt;
}

h1 {

}

img{
    width: 75px;
}

#text {
    color: #4E4E4E;
    font-weight: bold;
}

.left_content {
    text-align: right;
    width: 700px;
    margin-right: 64px;
}

.right_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_content{

    background-color: #F0EBE2;
    width: 644px;
    height: 677px;
    padding: 80px 128px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
}

.left_text {
    margin-top: 50%;
}


.login form input[type="email"], .login form input[type="password"]{
    width: 488px;
    height: 43px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    padding-left: 10px;
}

.login form input[type="submit"] {
    width: 488px;
    height: 43px;
    border-radius: 29px;
    background-color: #DC1F1F;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    border-width: 0;
    border-color: white;
    transition: border-width 0.2s;
}

.register form input[type="submit"]:hover{
    border-width: 3px;
}





