#select-menu {
  width: 220px;
  margin: auto;
  margin-top: 34px;
  font-family: 'Visby';
  font-weight: bold;
  font-size: 28px;
  color: #D9D9D9;
}

.selected {
  color: #DC1F1F;
}

#button-sort {
  width: 120px;
  margin: 34px 0px;
}
