.container {
    margin: 34px;
}

.button-red {
    font-size: 18px;
    background-color: #DC1F1F;
    color: white;
    padding: 8px 24px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50px;
}

.button {
    font-size: 18px;
    color: #4E4E4E;
    padding: 8px 24px;
    box-sizing: border-box;
    border-radius: 50px;
}