body {

}

.register {

}

.register h1 {

}

.register h4 {

}

.register p{

}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register form input[type="email"], .register form input[type="password"]{
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.register form input[type="submit"] {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    cursor: pointer;
    color: white;
    border-width: 0;
    border-color: white;
    transition: border-width 0.2s;

}

.register form input[type="submit"]:hover{
    border-width: 3px;
}





